<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pedla">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Stores"></activity>
        <activity android:name=".OldCity" />
        <activity android:name=".GovardhanSagar" />
        <activity android:name=".SajjanGarh" />
        <activity android:name=".DoodhTalayi" />
        <activity android:name=".RaniRoad" />
        <activity android:name=".BadiLake" />
        <activity android:name=".AboutApp" />
        <activity android:name=".CovidRules" />
        <activity android:name=".BookingSuccessfull" />
        <activity android:name=".Payment" />
        <activity android:name=".Cycles" />
        <activity android:name=".OrderReview" />
        <activity android:name=".Accessories" />
        <activity
            android:name=".SideBar"
            android:label="@string/title_activity_side_bar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Choice"
            android:theme="@style/AppTheme.RemoveActionBar" />
        <activity
            android:name=".HS"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Signup"
            android:theme="@style/AppTheme.RemoveActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.RemoveActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.RemoveActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preference"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>